---
name: Escape Room
tag: escape-room
contents:
    - character.config
    - room.room
    - north.dir
    - east.dir
    - south.dir
    - west.dir
    - grate.item
    - pipe.item
    - puddle.item
    - wires.item
    - drip.item
    - key.item
---

# Escape Room

There is only one way in, and one way out.  You have been looked inside, with all the tools you need to escape.  How fast can you do it?